In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import minmax_scale

In [2]:
path = 'C:\\Users\\joanb\\Desktop\\data_incendios\\clima\\raw\\CLEAN_DATA'
os.listdir(path)

['data_Alzira',
 'data_Artana',
 'data_Beneixama',
 'data_Beniarda',
 'data_Beniganim',
 'data_Bolulla',
 'data_Carcaixent',
 'data_Chella',
 'data_Cirat',
 'data_Gatova',
 'data_ValldEbo',
 'data_VallGallinera']

In [3]:
df_time = pd.read_csv('time_init_end.csv')

In [4]:
df_time['Inicio'] = pd.to_datetime(df_time['Dia Inicio'] + ' ' + df_time['Hora inicio'], format='%Y/%m/%d %H:%M')
df_time['Fin'] = pd.to_datetime(df_time['Dia Fin'] + ' ' + df_time['Hora fin'], format='%Y/%m/%d %H:%M')

In [5]:
df_time = df_time[['Incendio', 'Inicio', 'Fin']]
df_time.head()

     Incendio              Inicio                 Fin
0      Artana 2016-07-25 15:00:00 2016-07-27 12:00:00
1   Beneixama 2019-07-15 14:00:00 2019-07-15 22:00:00
2    Beniarda 2020-08-28 21:00:00 2020-08-29 18:30:00
3     Bolulla 2016-09-05 14:00:00 2016-09-06 19:00:00
4  Carcaixent 2016-06-16 17:00:00 2016-06-18 09:00:00

In [6]:
print(df_time.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Incendio  11 non-null     object
 1   Inicio    11 non-null     datetime64[ns]
 2   Fin       11 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 392.0+ bytes
None

# 1. Obtenemos el campo Fecha Completa

In [7]:
df = pd.read_csv(path+'\\'+os.listdir(path)[2], sep=';')
df

           Fecha      Hora  Direccion  Velocidad  Temperatura  Humedad
0     2019-07-15  00:00:00         67        3.2         18.8     75.0
1     2019-07-15  00:10:00         67        3.2         18.7     75.0
2     2019-07-15  00:20:00         67        1.6         18.7     76.0
3     2019-07-15  00:30:00         67        3.2         18.6     76.0
4     2019-07-15  00:40:00         67        3.2         18.6     76.0
...          ...       ...        ...        ...          ...      ...
1523  2019-07-15  23:36:00         23        7.6         23.3     65.0
1524  2019-07-15  23:41:00         23        9.1         23.1     66.0
1525  2019-07-15  23:46:00         23        7.1         23.0     65.0
1526  2019-07-15  23:51:00         68        9.1         22.9     66.0
1527  2019-07-15  23:56:00         68        8.1         22.8     67.0

[1528 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528 entries, 0 to 1527
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        1528 non-null   object
 1   Hora         1528 non-null   object
 2   Direccion    1528 non-null   int64
 3   Velocidad    1528 non-null   float64
 4   Temperatura  1528 non-null   float64
 5   Humedad      1528 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 71.8+ KB

In [9]:
for file in os.listdir(path):
    print(file)
    df = pd.read_csv(path+'\\'+file, sep=';')
    df['Fecha_Completa'] = pd.to_datetime(df['Fecha'] + ' ' + df['Hora'], format='%Y/%m/%d %H:%M')
    df['Theta'] = df['Direccion'].astype('float') * (2*np.pi/360) # Convert to radians
    
    # Calcular la cantidad de segundos transcurridos
    timestamps = pd.to_datetime(df['Fecha_Completa'], format='%Y/%m/%d %H:%M')
    df['X'] = (df.Fecha.unique().size) * minmax_scale((timestamps - timestamps[0]).dt.total_seconds())
    #df.to_csv(file, index=False)

data_Alzira
data_Artana
data_Beneixama
data_Beniarda
data_Beniganim
data_Bolulla
data_Carcaixent
data_Chella
data_Cirat
data_Gatova
data_ValldEbo
data_VallGallinera